@{
    Layout = null;
}
@using ClickInFinal.Models
@model IEnumerable<Comment>
@{ User name = (User)Session["user"];
   var owner = name.userId;
   
   
   }
<body>
    
   
        @foreach(Comment c in Model)
        {
            <div id="ct_@c.CmntId">
            <img src="~/Content/images/@c.PicPath" height="50" width="50" class="img-circle"  />
                       <a href="friendPicture?name=@c.Username" >@c.Fname @c.Lname</a>
                       <p style="color:black">  @c.Comment1 
                           @if(owner.Equals(c.Owner)||owner.Equals(c.Username))
                           {
                           <input type="button" onclick="deletePostComment(@c.CmntId)" value="X" class="btn-danger" name="com_@c.CmntId">
                           }
                       </p>
                                      <br /> 
                </div>
        }
        
    
 
    </body>        